body {
 margin: 0;
 background-image: url('../img/city_wallpaper.jpg');
 background-repeat:no-repeat;
 display: compact;
 font: 20px/25px "Helvetica Neue", Helvetica, Arial, sans-serif;
 color: whitesmoke;
}
.full {
  background: url('../img/city_wallpaper.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-default .navbar-nav>.active>a.github:before,
.navbar-nav>li>a.github:before {
    background-repeat: no-repeat;
    background-position: 0 top;
    content: "";
    display: inline-block;
    height: 29px;
    margin-right: 10px;
    vertical-align: middle;
    width: 29px;
}

.navbar-default .navbar-nav>.active>a.github:before,
.navbar-nav>li>a.github:before { background-image: url('../img/GitHub-logo_small.png'); }

















